@charset "UTF-8";
@font-face {
 font-family: 'NanumBarunGothic';
 font-style: normal;
 font-weight: 400;
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

body {
 font-family: 'NanumBarunGothic', sans-serif;
}




/* search menu */
.search_menu {
    width: auto;
    display: flex;
    height: 50px;
    z-index: 3;
    position: relative;
    flex: auto;
    right: -15%;
    z-index :0;
}
.search_box{
	position: relative;
}
.search_img{
    position: absolute;
    width: 17px;
    margin: 0;
    right: 2%;
    display: flex;
    top: 30%;
}
.search_input {
	border: none;
	width: 100%;
	padding: 10px 12px;
	font-size: 14px;
}
input:focus{
	outline : none;
}

.search_bar {
	border: 3px solid;
	border-color: rgb(64, 219, 43);
	border-radius: 5px;
	margin: auto;
	width: 25%;
}
.search_bar>form>input {
	width: 250px;
	margin: 10px;
	border: none;
	font-size: large;
}
.category_bar>.row{
	padding :0 20%;
	height : 50px;
	align-content : center;
	background-color : beige;
}
.category_bar>.row>a{
	flex : 1;
	text-decoration : none;
	color : black;
	font-weight : bold;
	text-align : center;
}


.container{
	width : 80%;
	background : #F2FFED;
}
.list_title{
    padding-top: 40px;
    text-align: center;
    height: 100px;
    font-size: 20px;
}
.list_title>span{
	font-size : 15px;
	color : gray;
}
ul{
    list-style: none;
	padding : 0;
}
.shop_item_wrapper{
    display: inline-flex;
    text-align: left;
    margin-bottom: 20px;
    height: 350px;
    padding-bottom: 10px;
}
.shop_item{
	width:25%;
	min-width : 250px;
}
.shop_item_content{
	padding-left : 10px;
}
.shop_item_content_detail{
	text-align : left;
	font-size : 13px;
	color : gray;
}
.shop_item_img{
	position : relative;
	display : block;
	background : center;
}
.shop_item_img>img{
	width : 250px;
	height : 200px;
}
.shop_title{
	font-weight : bold;
	font-size : 20px;
}
.shop_info_icon{
	width : 15px;
	height : 15px;
	margin-bottom : 4px;
	opacity : 55%;
}


/* effect 
.rainbow_effect{
	animation-duration: 1s; 
	animation-name: rainbowLink; 
	animation-iteration-count: infinite; 
}
*/
/*
@keyframes rainbowLink {     
 0% { background-color: #ff2a2a; }
 15% { background-color: #ff7a2a; }
 30% { background-color: #ffc52a; }
 45% { background-color: #43ff2a; }
 60% { background-color: #2a89ff; }
 75% { background-color: #202082; }
 90% { background-color: #6b2aff; } 
 100% { background-color: #e82aff; }
}
*/


.cloud_effect{
    height: 50px;
    animation-duration: 20s;
    animation-name: cloudLink;
    animation-iteration-count: infinite;
    display: flex;
    place-items: center;
}
@keyframes cloudLink {     
 0% { color: #FFA7A7; }
 7% { color: #FFC19E; }
 14% { color: #FFE08C; }
 21% { color: #FAED7D; }
 28% { color: #CEF279; }
 35% { color: #B7F0B1; }
 42% { color: #B2EBF4; } 
 49% { color: #B2CCFF; }
 56% { color: #D1B2FF; }
 63% { color: #FFB2F5; }
 70% { color: #FFB2D9; }
 77% { color: #B2CCFF; }
 84% { color: #D5D5D5; }
 91% { color: #BDBDBD; }
 100% { color: #353535; }
}
body::-webkit-scrollbar {
	width: 5px;
	height: 0px;
}
body::-webkit-scrollbar-thumb {
	background-color: #2f3542;
	border-radius: 10px;
}